{% extends "page.html" %}
{% block stylesheets %}
<style>
    body {
        background-image: url("{{config.static_dir}}/img/highscores.jpg");
    }
</style>
{% endblock %}
{% block title %}
    <h1>Leaderboards/highscores</h1>
{% endblock %}
{% block content %}
    <div id="highscore_hub" class="flex_container">
        <a href="search" class="highscore_button">
            <div class="image">
                <i class="fa fa-search fa-10x"></i>
            </div>
            <span>Search</span>
        </a>
        <a href="bestformaps" class="highscore_button">
            <div class="image">
                <img src="{{config.static_dir}}/img/4_maps.png"/>
            </div>
            <span>Records per map</span>
        </a>
        <a href="bestskins" class="highscore_button">
            <div class="image">
                <img src="{{config.static_dir}}/img/sonic_tails.png"/>
            </div>
            <span>Best skins</span>
        </a>
        <a href="leaderboard" class="highscore_button">
            <div class="image">
                <i class="fa fa-user fa-10x"></i>
            </div>
            <span>Best players</span>
        </a>
    </ul>
{% endblock %}
