<html>
<head>
    <link href="{{config.static_dir}}/css/main.css" type="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>SRB2 Circuit Race highscore tracker</h1>
    <ul>
        <li><a href="{{config.base_url}}/search">Search highscores for a specific username, map or skin</a></li>
        <li><a href="{{config.base_url}}/bestformaps">Look at the best times for every character in each map</a></li>
        <li><a href="{{config.base_url}}/bestskins">Look at the best skins for the maps on the server</a></li>
        <li><a href="{{config.base_url}}/bestusers">Here's the hall of fame for the best players on the server</a></li>
    </ul>
</body>
