<html>
<head>
    <link href="{{config.static_dir}}/css/main.css" type="stylesheet">
</head>
<body>
    <h1>Highscores per map and skin</h1>
    To search highscores for a specific username, map or skin go <a href="{{config.base_url}}/search">here</a>
    {% for map in highscores: %}
    <div id="{{map.id}}" class="map_highscore">
        <h2>{{map['name']}}</h2>
        <table border=1>
            <thead>
                <tr>
                    <th>
                        Skin
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Username
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for skin in map['skins']: %}
                <tr>
                    <td>{{skin['name']}}</td>
                    <td>{{skin['time_string']}}</td>
                    <td>{{skin['username']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</body>
